<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>智能问数</title>
        <link rel="stylesheet" href="../css/unpkg.com_element-ui@2.15.13_lib_theme-chalk_index.css" />
        <link rel="stylesheet" href="../css/search.css" />
        <script src="../js/cdn.jsdelivr.net_npm_vue@2_dist_vue.js"></script>
        <script src="../js/unpkg.com_element-ui@2.15.13_lib_index.js"></script>
        <script src="../js/tinymce.min.js"></script>
		<script src="../js/echarts.min.js"></script>
    </head>
    <style>
		#app{
			overflow: hidden;
			position: relative;
		}
        /* .xzbox {
            height: calc(100vh - 40px);
        } */
    </style>
    <body>
        <div id="app">
            <template>
				<div class="xzbox bin">
					<div class="xz-left">
						<div class="xz-left-title">
							<div class="xz-left-title-shuxian"></div>
							提问历史记录
						</div>
						<div class="xz-left-list">
							<div class="xz-left-list-item" v-for="(item,index) in chatData" @click="clickChatText(item.query)">
								<p class="title">{{ item.query }}</p>
								<p class="time">{{ timestampToTime(item.time) }}</p>
							</div>
						</div>
					</div>
					<div class="xz-right">
						<div class="xz-right-main chat">
							<div class="dfxx">
								<img src="../img/avatar.png" class="img" alt="" />
								<div class="dfxx-right">
									<div class="flex-part">
										<p class="dfxx-right-name">您好，我是智能问数 Bot</p>
										<el-button type="text" @click="showImg('../img/6.jpg')">框架结构</el-button>
									</div>
									
									<p class="dfxx-right-content">我拥有人工智能语言模型和BI双重能力，可以分析需求，并用可视化图表解答您的问题，也可以根据图表总结业务结论。</p>
									<p class="dfxx-right-content">目前我已经学习到的数据包含2013-2022年度各级各类学生、教师及学校的全国（不包含港澳台地区）的部分综合统计数据。<el-button type="text" @click="showImg('../img/1.png')">数据范围</el-button></p>
									<div class="cnxw">
										<p class="cnxw-title">请试着这样问我</p>
										<div class="cnxw-content-box">
											<ul>
												<li @click="copyTemplate('2016-2022北京高中教师人数')">
													2016-2022年北京高中教师人数</li>
												<li @click="copyTemplate('2022年各省幼儿园数量')">
													2022年各省幼儿园数量</li>
												</li>
												<li @click="copyTemplate('2013-2022年全国小学阶段每年在校生数量')">
                                                                                                        2013-2022年全国小学阶段每年在校生数量</li>
                                                                                                </li>
												<li @click="copyTemplate('2022年小学阶段各省在校生数')">
                                                                                                        2022年小学阶段各省在校生数</li>
                                                                                                </li>

												<li @click="copyTemplate('2015至2022年北京、黑龙江省小学入学人数')">
													2015至2022年北京、黑龙江省小学入学人数</li>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<template v-if="chatData.length" v-for="(item,index) in chatData">
								<div class="my-query">
									<p class="content">{{ item.query }}</p>
									<img src="../img/touxiang.png" alt="" class="img" />
								</div>
								<div v-if="item.loading" class="loading">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>
								<div v-if="!item.loading">
									<div class="dfquery">
										<img src="../img/avatar.png" class="img" alt="" />
										<div class="content" :class="'content-df'+ index"
											style="display: flex;flex-direction: column;align-items: flex-start;">
											<p v-if="item.showChart">{{ item.response }}</p>
											<p v-else>{{ item.response || '未找到该内容' }}</p>
											<div v-show="item.showChart" :id="`chart${index}`" style="width: 600px;height:400px;"></div>
											<div class="tip" v-if="item.chartData && item.chartData.dataSource">
												<span class="tip_text">数据来源：{{item.chartData.dataSource}}</span>
											</div>
											<div class="tip" v-show="item.showChart">
												<span class="tip_text">根据你的需求，我为你生成了相应图表，也可以生成与本图表相关的一些分析。</span>
												<el-button type="text" @click="handleNeedCommend(item)">需要分析</el-button>
											</div>
											<div style="width: 100%;display: flex;justify-content: flex-end;"
												class="duifangcontent" v-if="item.copy">
												<div class="sjinfo-right-title-right-img"
													:class="item.wdpj == 'good' ? 'sjinfo-right-title-right-img-active' : ''"
													@click="xzcp(item,'good')" style="margin-top: 5px;">
													<img :src="item.wdpj == 'good' ? '../img/haoping-active.png' : '../img/haoping.png'" alt="" />
												</div>
												<el-popover placement="bottom-end" trigger="click"
													v-model="item.wdbadShow"
													v-show="item.wdpj == 'good' || item.wdpj == ''"
													@after-leave="xzcp(item,'bad')">
													<div class="cp-box" style="width: 425px;">
														<div style="margin-bottom: 10px;">
															<el-checkbox-group v-model="item.wdbadpjinfo.badinfo"
																size="small">
																<el-checkbox label="还不够好" border>还不够好</el-checkbox>
																<el-checkbox label="与问题无关" border>与问题无关</el-checkbox>
																<el-checkbox label="内容不准确" border>内容不准确</el-checkbox>
																<el-checkbox label="没有帮助" border>没有帮助</el-checkbox>
																<el-checkbox label="有害信息" border>有害信息</el-checkbox>
																<el-checkbox label="我要吐槽" border>我要吐槽</el-checkbox>
															</el-checkbox-group>
														</div>
														<el-input
															:disabled="!item.wdbadpjinfo.badinfo.includes('我要吐槽')"
															type="textarea" :autosize="{ minRows: 3, maxRows: 4}"
															placeholder="请输入评价内容"
															v-model="item.wdbadpjinfo.inputvalue">
														</el-input>
														<div
															style="display: flex;justify-content: flex-end;margin-top: 10px;">
															<el-button type="primary"
																@click="item.wdbadShow = false">提交</el-button>
														</div>
													</div>
													<div slot="reference" class="sjinfo-right-title-right-img"
														:class="shenjiaopj == 'bad' ? 'sjinfo-right-title-right-img-active' : ''"
														style="margin-top: 5px;">
														<img src="../img/chaping.png" alt="" />
													</div>
												</el-popover>
												<div class="sjinfo-right-title-right-img" v-show="item.wdpj == 'bad'"
													:class="item.wdpj == 'bad' ? 'sjinfo-right-title-right-img-active' : ''"
													@click="xzcp(item,'bad')" style="margin-top: 5px;">
													<img src="../img/chaping-active.png" alt="" />
												</div>
												<div v-show="item.showChart" class="dfcontent-bot" @click="copydf(index)">
													<img src="../img/copy.png" alt=""
														style="width: 21px;margin-right: 5px;" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</template>
						</div>
						<div class="xz-right-foot">
							<div id="useTemplate" v-if="useTemplate"></div>
							<el-input v-else v-model="chatText" type="text" placeholder="请输入问题相关描述"
								@keydown.enter="sendChat()">
								<el-select class="select_url" v-model="selectUrl" slot="prepend" placeholder="请选择">
									<el-option label="年鉴数据" value="http://10.40.241.6:17862/glm/chatdata?q="></el-option>
									<el-option label="最新数据" disabled value="http://10.40.241.6:17862/glm2/chatdata?q"></el-option>
								</el-select>
							</el-input>
							<el-button :disabled="chatLock" @click="sendChat()">发送</button>
						</div>
						
					</div>
					<div id="imgScaleBox" v-if="dialogVisible" @click="dialogVisible = false">
						<img id="imgScale" :src="image" alt="">
					</div>
				</div>
			</template>
        </div>
    </body> 
	<style>
		#useTemplate{
			width: 100%;
			margin-right: 10px;
			height: 44px;
			border: 1px solid #ccc;
			border-radius: 4px;
			line-height: 44px;
			padding: 0 10px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		#useTemplate .can-edit{
			display: inline-block;
			width: 100%;
			border: 0;
			height: 30px;
			background-color: #E5F9FE;
		}
		#useTemplate .can-edit:focus-visible{
			border: none;
			outline: none;
		}
		.tip .tip_text{
			color: #aaa;
    		font-size: 14px;
		}
		.select_url{
			width: 100px;
		}
		.select_url .el-input__inner{
			width: 100px;
		}
		#imgScaleBox{
			/* 使用绝对定位实现垂直水平居中 */
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 999;
			cursor: move;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.1);
		}
		#imgScale{
			position: relative;
			z-index: 9999;
			max-width: 1920px;
			transform: scale(0.5)
		}
		.flex-part{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

	</style> 
    <script>
		
        new Vue({
            el: '#app',
            data() {
                return {
					chatText:undefined,
					chatData:[],
					chatLock:false,
					useTemplate: false,
					shenjiaopj: '',
					selectUrl: 'http://10.40.241.6:17862/glm/chatdata?q=',
					dialogVisible: false,
					image: '',
                }
            },
			mounted() {
			},
            methods: {
				timeout(ms) {
					return new Promise((resolve, reject) => {
						setTimeout(() => {
							reject(new Error("请求超时"))
						}, ms);
					});
				},
				/**
				 * @param resource 请求url
				 * @param options 请求参数 同时可手动传入超时时间timeout，不出如timeout就是默认5秒超时
				 * @return {Promise<any>}
				*/
				async fetchWithTimeout(resource, options) {
					const { timeout = 50000 } = options;

					const controller = new AbortController();
					const id = setTimeout(() => controller.abort(), timeout);

					const response = await Promise.race([
						fetch(resource, { ...options, signal: controller.signal }),
						this.timeout(timeout)
					]);

					clearTimeout(id);

					return response;
				},
				/**
				 * @param src 传入图片地址，可打开图片
				 * */ 
				showImg(src) {
					this.dialogVisible = true
					this.image = src
					this.$nextTick(() => {
						var scale = 0.5
						var img = document.getElementById('imgScale');
						var isDraggable = false;
						var startX, startY, imgX, imgY;
						img.onwheel = function(event) {
							event.preventDefault();
							// 计算缩放比例，deltaY < 0 表示向上滚动，也就是放大图片；反之则缩小图片
							scale += event.deltaY < 0 ? 0.1 : -0.1;
							// 限制缩放比例在0.1到2之间
							scale = Math.min(2, Math.max(0.3, scale));
							if(Number(img.style.top.replace('px', '')) > (document.getElementById('imgScaleBox').clientHeight*scale*0.5)) {
								img.style.top = (document.getElementById('imgScaleBox').clientHeight*scale*0.5) + 'px'
							} else if(Math.abs(Number(img.style.top.replace('px', ''))) > (document.getElementById('imgScaleBox').clientHeight*scale*0.5)) {
								img.style.top = (document.getElementById('imgScaleBox').clientHeight*scale*-0.5) + 'px'
							}
							// 更新图片的缩放级别
							img.style.transform = 'scale(' + scale + ')';
						};
						img.onmousedown = function(event) {
							isDraggable = true;
							event.preventDefault()
							// 记录鼠标按下的坐标和图片的位置
							startX = event.clientX;
							startY = event.clientY;
							imgX = img.offsetLeft;
							imgY = img.offsetTop;
						};
						img.onmousemove = function(event) {
							if (isDraggable) {
								event.preventDefault()
								// 计算鼠标移动的距离
								var dx = event.clientX - startX;
								var dy = event.clientY - startY;

								// 更新图片的位置
								img.style.left = imgX + dx + 'px';
								img.style.top = imgY + dy + 'px';
							}
						};
						img.onmouseup = function() {
							isDraggable = false;
						};
						img.addEventListener("click", function(event){
							event.stopPropagation();
						});
					})
				},
				initChart(elId, option) {
					var myChart = echarts.init(document.getElementById(elId));
					myChart.setOption(option);
				},
				// 时间戳转时间
				timestampToTime(timestamp) {
					// 时间戳为10位需*1000，时间戳为13位不需乘1000
					var date = new Date(timestamp);
					var Y = date.getFullYear() + "-";
					var M =
						(date.getMonth() + 1 < 10 ?
							"0" + (date.getMonth() + 1) :
							date.getMonth() + 1) + "-";
					var D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";
					var h = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ":";
					var m = (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) + ":";
					var s = (date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds());
					return Y + M + D + h + m + s;
				},
                // 点击历史提问记录
				clickChatText(query) {
					var that = this
					const box1 = document.getElementsByClassName('chat')[0]
					const box = document.getElementsByClassName('chat')[0].getElementsByClassName('my-query')
					if (box && box.length) {
						for (var i = 0; i < box.length; i++) {
							console.log(box[i].innerText, query)
							if (box[i].innerText == query) {
								console.log(box[i].offsetTop)
								box[i].scrollIntoView(true)
								break;
							}
						}
					}
				},
        async sendChat(chatText){
					const that = this
					let value
					if(this.useTemplate) {
						let useTemplateEl = document.getElementById('useTemplate')
						let text = ""
						Array.from(useTemplateEl.childNodes).forEach(node => {
							if (node.nodeType === Node.TEXT_NODE) {
								// 如果是文本节点
								text += node.textContent
							} else if (node.nodeType === Node.ELEMENT_NODE) {
								// 如果是元素节点
								if (node.tagName === 'INPUT') {
									// 如果是input元素
									text += node.value
								} else {
									// 对于其他元素，获取内部文字
									text += node.innerText
								}
							}
						});
						value = text
					} else {
						value = chatText?chatText:this.chatText
					}
					if(this.chatLock){
						return
					}
					let item = {
						query: value ,
						loading:true,
						time: new Date().getTime(),
						QuestionAndAnswer: {},
						wdbadShow:false,
						wdpj: '',
						wdpjinfo: {},
						showChart:false,
						wdbadpjinfo: {
							inputvalue: '',
							badinfo: [],
						}
					}
                    this.chatData.push(item)
					this.$nextTick(() => {
						document.getElementsByClassName('chat')[0].scrollTop = document.getElementsByClassName('chat')[0].scrollHeight
					})
					this.useTemplate = false
					let d
					try{
						// 如果需要进行超时就在调用这个方法，fetchWithTimeout
						d = await this.fetchWithTimeout(this.selectUrl + value, { method: 'POST', timeout: 50000 })
						d = await d.json()
					} catch (error) {
						console.error("超时错误：", error);
						item.loading = false
						this.$nextTick(() => {
							document.getElementsByClassName('chat')[0].scrollTop = document.getElementsByClassName('chat')[0].scrollHeight
						})
						return
					}
					// const d = await (await fetch("http://47.123.4.81:3389/glm/chatdata?q=" + value, { method: 'POST' })).json()
					item.response = d.choices &&d.choices.length>0 ? d.choices[0].message.content : ''
					// 保存问题和答案
					let params = new FormData()
					params.append('question', value)
					if(item.response === '') {
						params.append('answer', d)
					} else {
						params.append('answer', item.response)
					}
					const x = await (await fetch("http://10.20.13.201/education/insertDataQuestionAndAnswer", {
						method: 'PUT',
						body: params,
						
					}).then(function(data) {
						return data.text()
					}).then(function(data) {
						var res = JSON.parse(data)
						item.QuestionAndAnswer = res.data
					}))
					if(item.response === '') {
						item.showChart = true
						item.chartData = d
					}
					item.copy = true
					item.loading = false
                    this.chatText = null
					this.$nextTick(() => {
						document.getElementsByClassName('chat')[0].scrollTop = document.getElementsByClassName('chat')[0].scrollHeight
						if(item.response === '') {
							d.legend.bottom = 0
							this.initChart(`chart${this.chatData.length -1}`, d)
						}
					})
					this.chatLock=false
				},
				// 获取结论
				async handleNeedCommend(record) {
					console.log(record);
					let value =  '数据解析：' + record.query 
					let item = {
						query: value ,
						loading:true,
						time: new Date().getTime(),
						QuestionAndAnswer: {},
						wdbadShow:false,
						wdpj: '',
						wdpjinfo: {},
						showChart:false,
						wdbadpjinfo: {
							inputvalue: '',
							badinfo: [],
						}
					}
					this.useTemplate = false
					this.chatData.push(item)
					this.$nextTick(() => {
						document.getElementsByClassName('chat')[0].scrollTop = document.getElementsByClassName('chat')[0].scrollHeight
					})

					const timeout = (ms, promise) => {
						return new Promise((resolve, reject) => {
							setTimeout(() => {
								reject(new Error("请求超时"))
							}, ms)
						promise.then(resolve, reject)
						})
					}
					// 获取结论请求
					const d = await ( await fetch("http://10.40.241.6:17862/glm/analyse?data=" + JSON.stringify(record.chartData), { method: 'POST' })).json()
					item.response = d.choices[0].message.content
					// 保存问题和答案
					let params = new FormData()
					params.append('question', value)
					if(item.response === '') {
						params.append('answer', d)
					} else {
						params.append('answer', item.response)
					}
					const x = await (await fetch("http://10.20.13.201/education/insertDataQuestionAndAnswer", {
						method: 'PUT',
						body: params,
						
					}).then(function(data) {
						return data.text()
					}).then(function(data) {
						var res = JSON.parse(data)
						item.QuestionAndAnswer = res.data
					}))
					item.copy = true
					item.loading = false
                    this.chatText = null
					this.$nextTick(() => {
						document.getElementsByClassName('chat')[0].scrollTop = document.getElementsByClassName('chat')[0].scrollHeight
					})
					this.chatLock=false
				},
				// 点击差评按钮
				xzcp(info, value) {
					var that = this
					console.log(info)
					info.wdbadShow = false
					if (info.wdpj == 'good') {
						let data = new FormData()
						data.append("id", info.wdpjinfo.id);
						data.append("feedback", value);
						if (info.wdbadpjinfo.badinfo.length > 0) {
							var yuanyin = []
							for (var i = 0; i < info.wdbadpjinfo.badinfo.length; i++) {
								if (info.wdbadpjinfo.badinfo[i] != '我要吐槽') {
									yuanyin.push(info.wdbadpjinfo.badinfo[i])
								}
							}
							if (info.wdbadpjinfo.inputvalue) {
								yuanyin.push(info.wdbadpjinfo.inputvalue)
							}
							data.append("badReason", yuanyin.join(';'))
						}
						fetch('http://10.20.13.201/education/updateDataFeedback', {
						// fetch('http://39.106.131.95:9002/education/updateWriteFeedback', {
							method: 'POST',
							body: data,
						}).then(function(data) {
							return data.text()
						}).then(function(data) {
							var res = JSON.parse(data)
							info.wdpj = value
							info.wdpjinfo = res.data
						})
					} else if (info.wdpj == 'bad') {
						// var data = {
						// 	id: info.wdpjinfo.id,
						// }
						let data = new FormData()
						data.append("id", info.wdpjinfo.id)
						// fetch('http://39.106.131.95:9002/education/deleteWriteFeedback', {
						fetch('http://10.20.13.201/education/deleteDataFeedback', {
							method: 'DELETE',
							body: data,
						}).then(function(data) {
							return data.text()
						}).then(function(data) {
							info.wdpj = ''
							info.wdpjinfo = {}
						})
					} else {
						let data = new FormData()
						data.append("questionId", info.QuestionAndAnswer.questionId)
						data.append("answerId", info.QuestionAndAnswer.answerId)
						data.append("feedback", value)
						if (info.wdbadpjinfo.badinfo.length > 0) {
							var yuanyin = []
							for (var i = 0; i < info.wdbadpjinfo.badinfo.length; i++) {
								if (info.wdbadpjinfo.badinfo[i] != '我要吐槽') {
									yuanyin.push(info.wdbadpjinfo.badinfo[i])
								}
							}
							if (info.wdbadpjinfo.inputvalue) {
								yuanyin.push(info.wdbadpjinfo.inputvalue)
							}
							data.append("badReason", yuanyin.join(';'))
						}
						fetch('http://10.20.13.201/education/insertDataFeedback', {
						// fetch('http://39.106.131.95:9002/education/insertWriteFeedback', {
							method: 'PUT',
							body: data,
						}).then(function(data) {
							return data.text()
						}).then(function(data) {
							var res = JSON.parse(data)
							info.wdpj = value
							info.wdpjinfo = res.data
						})
					}
					info.wdbadpjinfo = {
						inputvalue: '',
						badinfo: [],
					}
					info.wdbadShow = false
				},
                copydf(e) {
					const input = document.createElement('textarea') // 创建input对象
					const link = document.querySelector('.content-df' + e) // 获取需要复制文字的容器
					input.value = link.innerText // 设置复制内容
					document.body.appendChild(input) // 添加临时实例
					input.select() // 选择实例内容
					document.execCommand('Copy') // 执行复制
					document.body.removeChild(input) // 删除临时实例
					this.$message({
						message: '复制成功',
						type: 'success'
					});
				},
				copyTemplate(text) {
					this.useTemplate = false
					this.chatText = text
					// this.$nextTick(() => {
					// 	const useTemplateEl = document.getElementById('useTemplate')
					// 	useTemplateEl.innerHTML = ''
					// 	let arrayText = text.split(/\[([^\]]*)\]/g);
					// 	let result = [];
					// 	for(let i=0; i<arrayText.length; i++){
					// 		if(arrayText[i] !== ""){
					// 			result.push(arrayText[i]);
					// 		}
					// 	}
					// 	console.log(result, arrayText);
					// 	if(text.indexOf("[") === 0) {
					// 		result.forEach((item, i) => {
					// 			const index = i + 1
					// 			if(index%2 === 0) {
					// 				const span = document.createElement('span')
					// 				span.setAttribute('style', 'display: inline-block;')
					// 				span.innerText = item;
					// 				useTemplateEl.appendChild(span)
					// 			} else {
					// 				const input = document.createElement('input') // 创建input对象
					// 				// 设置input的属性
					// 				input.setAttribute('class', 'can-edit')
					// 				input.value = item
					// 				input.style.width = (input.value.length * 16 + 10) + 'px'
					// 				useTemplateEl.appendChild(input)
					// 			}
					// 		})
					// 	} else if(text.indexOf("[") > 0) {
					// 		result.forEach((item, i) => {
					// 			const index = i + 1
					// 			if(index%2 === 0) {
					// 				const input = document.createElement('input') // 创建input对象
					// 				// 设置input的属性
					// 				input.setAttribute('class', 'can-edit')
					// 				input.value = item
					// 				input.style.width = (input.value.length * 16 + 10) + 'px'
					// 				useTemplateEl.appendChild(input)
					// 			} else {
					// 				const span = document.createElement('span')
					// 				span.setAttribute('style', 'display: inline-block;')
					// 				span.innerText = item;
					// 				useTemplateEl.appendChild(span)
					// 			}
					// 		})
					// 	}
					// })
					
				}
}
        })
    </script>
</html>
